<h1>Invoice id: <%= @invoice.id %></h1>
<h2>Status: <%= @invoice.status %> </h2>
<h2>Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </h2>
<h2>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %> </h2>
